<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaven.kavencore.mapper.UserMapper">
  <insert id="saveUser" parameterType="com.kaven.kavencore.domain.User" useGeneratedKeys="true" keyProperty="id">
    insert into t_user (name,password,age) values (#{name,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR})
  </insert>
</mapper>